@import 'variables';

.box-card {
  max-width: $cardMaxWidth;
  margin-left: auto;
  margin-right: auto;

  .el-card__body {
    padding: 0 20px;
  }

  .text {
    font-size: 14px;
  }

  .item {
    padding: 12px 0;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  .clearfix:after {
      clear: both
  }
}

.el-alert {
  margin: 10px auto;
  max-width: $cardMaxWidth;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}

.el-alert .el-alert__description, .el-alert__closebtn {
  // fix vertical alignment of el-alert contents
  margin: 3px 0;
  font-size: 1em;
}

.el-loading-mask {
  // lower default z-index to ensure it does not cover dialogs
  z-index: 1000;
}

.el-tag.snippets-tag {
  color: #222;
  background-color: rgba(80, 80, 80, .15);
  border: 1px solid rgba(80, 80, 80, .5);
  border-radius: 3px;
  margin-right: 2px;
  cursor: pointer;
}

.snippets-dialog {
  // limit max width of dialogs
  max-width: $dialogMaxWidth;
}

.snippets-dialog .el-dialog__body {
  // reduce the excessive padding in the body
  padding: 20px;
  padding-bottom: 0;
}

/*
Element UI 'xs' size
*/
@media only screen and (max-width: 767px) {
  .el-message-box, .snippets-dialog {
    width: 100%;
  }
}
