@import 'variables';

.box-card {
  max-width: $cardMaxWidth;
  margin-left: auto;
  margin-right: auto;

  .el-card__body {
    padding: 0 20px;
  }

  .text {
    font-size: 14px;
  }

  .item {
    padding: 12px 0;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  .clearfix:after {
      clear: both
  }
}

.el-alert {
  margin: 10px auto;
  max-width: $cardMaxWidth;
}

.el-alert#search-alert {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
}

/*
Element UI 'xs' size
*/
@media only screen and (max-width: 767px) {
  .el-message-box, .search-dialog, .full-on-xs-dialog {
    width: 100%;
  }
}
