/*=============================================
 = basic app settings
 =============================================*/
$bgColor: #ececec;
$bgBorderColor: #dedede;
$basicTextColor: #2c3e50;

$cardMaxWidth: 600px;
$dialogMaxWidth: 480px;

$sidenavWidth: 200px;
$sidenavHeaderPaddingX: 21px;
$sidenavLinkPaddingX: $sidenavHeaderPaddingX + 10;
$sidenavLinkPaddingY: 6px;


/*=============================================
 = colors used for snippets
 =============================================*/
$snippetWhite: rgb(250, 250, 250);
$snippetRed: rgb(255, 138, 128);
$snippetGreen: rgb(204, 255, 144);
$snippetBlue: rgb(128, 216, 255);
$snippetYellow: rgb(255, 255, 141);
$snippetOrange: rgb(255, 209, 128);
$snippetTeal: rgb(167, 255, 235);
$snippetGray: rgb(207, 216, 220);

@function darkenedColor1($color) {
  @return desaturate(darken($color, 17), 27);
}

@function darkenedColor2($color) {
  @return desaturate(darken($color, 8), 18);
}
