$bgColor: #ececec;
$bgBorderColor: #dedede;
$basicTextColor: #2c3e50;

$cardMaxWidth: 600px;

$sidenavWidth: 170px;
$sidenavHeaderPaddingX: 21px;
$sidenavLinkPaddingX: $sidenavHeaderPaddingX + 10;
$sidenavLinkPaddingY: 6px;
