@import 'variables';
@import 'overrides';
@import 'jasny-overrides';
@import 'element-overrides';
@import 'snippets';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $basicTextColor;
  margin-top: 60px;
}

body {
  background-color: $bgColor;
}

.main-content-area > div > h1, h2 {
  text-align: center;
}

h2.page-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.success-text {
  color: #3c763d;
}

.error-msg {
  margin-left: .5rem;
  color: #e50000;
}

.loading-icon {
  text-align: center;
  margin-bottom: 8px;
}

// increase font size for forms on small devices
input[type="text"], input[type="number"], input[type="password"],
textarea, select, select.form-control {
  font-size: 16px;
}

/*=============================================
 = tablet+ resolutions
 =============================================*/
@media (min-width: 768px) {
  body {
    padding-left: $navMenuWidth;
  }
  font-size: 14px;
}
