@import 'variables';


/*=============================================
 = Bootstrap overrides
 =============================================*/
.panel {
  border: 0;
  a {
    text-decoration: underline;
    color: #15c;
  }
  a:visited {
    color: #61c;
  }
  word-wrap: break-word;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
}
