@import 'variables';

// pin the sidenav to the left side of the page
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidenavWidth;
  height: 100%;
  padding-top: 70px;
  z-index: 1030;
  border: 1px solid #dedede;
  background-color: #f8f8f8;
}

// set color & bg color for active links
.sidenav-submenu > li > a.active,
.sidenav-submenu > li > a.active:focus {
  color: $basicTextColor;
  background-color: $bgBorderColor;
}

// remove underlines from sidenav links
.sidenav-submenu > li > a,
.sidenav-submenu > li > a.active:focus {
  text-decoration: none;
}

// basic sidenav sub-menu styles
.sidenav-submenu {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

// links within sidenav sub-menus
.sidenav-submenu > li > a {
  position: relative;
  display: block;
  padding: $sidenavLinkPaddingY $sidenavLinkPaddingX;
}

// headers for "sections" of sidenav sub-menus
.sidenav-submenu-header {
  font-weight: bold;
  position: relative;
  display: block;
  padding: 3px $sidenavHeaderPaddingX;
  margin-top: 8px;
  margin-bottom: 3px;
}
