$bgColor: #eae7e9;
$basicTextColor: #2c3e50;

$panelMaxWidth: 600px;

$navMenuWidth: 200px;
$navMenuLeftPad1: 21px;
$navMenuLeftPad2: $navMenuLeftPad1 + 10;
$navLinkPaddingOnDesktop: 6px;
$navLinkPaddingOnMobile: 10px;
